.bg {
    max-width: 1480px;
    margin: 0 auto;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}
.apartments {
    &__bg {
        background: url("../img/apartments-bg.png") -15px 80px no-repeat;
        min-height: 806px;
    }
    &__title {
        font-family: "PlayfairDisplay-Bold";
        font-size: 36px;
        line-height: 48px;
        color: $straw;
        margin-bottom: 100px;
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }
    &__post {
        position: relative;
        &::after {
            content: "";
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            position: absolute;
            top: 20px;
            left: 20px;
            background: linear-gradient(
                180deg,
                rgba(36, 43, 51, 0) 0%,
                #242b33 100%
            );
        }
        img {
            border: 1px solid #242b33;
        }
        &:hover {
            &::after {
                background: rgba($straw, 0.2);
            }
            span {
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
            }
        }
        img {
            width: 100%;
        }
        p {
            font-family: "Raleway-Regular";
            font-size: 24px;
            line-height: 28px;
            color: $white;
            z-index: 1;
        }
        span {
            font-family: "Raleway-Regular";
            font-size: 18px;
            line-height: 28px;
            color: $white;
            opacity: 0;
            visibility: hidden;
            max-width: 230px;
            display: inline-block;
            transition: all 0.3s ease;
            transform: translateY(50%);
        }
    }
    &__text {
        position: absolute;
        bottom: 10%;
        left: 50px;
        z-index: 1;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 1px) {
    .apartments {
        &__title {
            text-align: center;
        }
        &__gallery {
            justify-content: center;
        }
        &__post {
            padding: 20px;
            &::after {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                top: 20px;
                left: 20px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .apartments {
        &__title {
            text-align: left;
        }
        &__gallery {
            justify-content: space-between;
        }
        &__post {
            flex: 1 1 50%;
            padding: 20px;
            &::after {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                top: 20px;
                left: 20px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

// XXX-Large devices (larger desktops, 1600px and up)
@media (min-width: 1600px) {
}
